
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 3rem;
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDQ3LWtxOTJ3eDl5LmpwZw.jpg');
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  padding: '600px';
}

.details {
  width: 28rem;
}

.details form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}
