.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 3rem;
  background-image: url('https://marketplace.canva.com/EAFCytpuJ08/1/0/1600w/canva-green-wateroclor-leaf-linktree-background-0Mp0WYk6_8E.jpg');
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  padding: '600px';
}
.details {
  width: 25rem;
}

.details form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
